.favorite-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favProduct {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.favProduct img {
  width: 70%;
}
